{#{% load crispy_forms_tags %}#}
{% load staticfiles %}

<div class="table-name">   
    <h4 class="text-left">
        <img src="{% static 'app/images/travel.png' %}" width="20" height="20"/>
        ЗАЯВКИ НА ЭКСКУРСИИ 
        <span class="pull-right">
            {#<img  src="{% static 'app/images/plus.png' %}" width="20" height="20"#}
                  {#data-toggle="modal" data-target="#AddExcursionModal" onclick="return funcExcursionAdd(this)"/>#}
            {#<img  src="{% static 'app/images/plus2.png' %}" width="20" height="20"#}
                  {#data-toggle="modal" data-target="#AddExcursionModal" onclick="return funcExcursionAdd(this)"/>#}
        </span>        
    </h4>     
</div>

<div class="table-responsive">    
    <table class="table table-hover table-condensed">
            <thead class="thead">
            <tr>
                <td >
                    <small>№</small>
                </td>
                <td >
                    <small>ФОРМА ЭКСКУРСИИ</small>
                </td>
                <td >
                    <small>ОТБЫТИЕ</small>
                </td>
                <td >
                    <small>ВРЕМЯ</small>
                </td>
                <td >
                    <small>МЕСТО ОТБЫТИЯ</small>
                </td>
                <td >
                    <small>МЕСТО ПРИБЫТИЯ</small>
                </td>
                <td >
                    <small>КОЛ-ВО ОБЩЕЕ</small>
                </td>
                <td >
                    <small>КОЛ-ВО ВЗРОСЛЫХ</small>
                </td>
                <td >
                    <small>КОЛ-ВО УЧАСТНИКОВ</small>
                </td>
                {#<td >#}
                    {#<small>ОПЛАТА</small>#}
                {#</td>#}
                <td >
                    <small></small>
                </td>
                <td >
                    <small></small>
                </td>
                <td >
                    <small></small>
                </td>
            </tr>
            </thead>
            {% for excursion in excursions %}
            {% if excursion.status == 'ok' %}                        
                <tr valign="top" class="success">                 
            {% elif excursion.status == 'warn' %}                        
                <tr valign="top" class="danger">                       
            {% else %}                       
                <tr valign="top" class="warning">                       
            {% endif %}
                <td >
                    <small>{{forloop.counter}}</small>
                </td>
                <td >
                    <small>{{ excursion.tour_form_output }}</small>
                </td>
                <td >
                    <small>{{ excursion.date_departure|date:"Y-m-d" }}</small>
                </td>
                <td>
                    <small>{{ excursion.time_departure|date:"H:i" }}</small>
                </td>
                <td>
                    <small>{{ excursion.place_departure }}</small>
                </td>
                <td>
                    <small>{{ excursion.place_arrival }}</small>
                </td>
                <td>
                    <small>{{ excursion.quantity_total }}</small>
                </td>
                <td>
                    <small>{{ excursion.quantity_adult }}</small>
                </td>
                <td>
                    <small>{{ excursion.quantity_member }}</small>
                </td>
                {#<td>#}
                    {#<small>{{ excursion.payment }}</small>#}
                {#</td>#}
                {#<td onclick=" return funcExcursionEdit(this) ">#}                    
                    {#<img src="{% static 'app/images/pencil3.png' %}" width="20" height="20" data-toggle="modal" data-target="#AddExcursionModal">#}
                {#</td>#}
                <td onclick="return funcExcursionRemove(this)">
                    <img src="{% static 'app/images/trash.png' %}" width="20" height="20" data-toggle="modal" data-target="#DelExcursionModal">
                    {#<span class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#DelExcursionModal"></span>#}
                    <span class="hidden">{{ excursion.id }}</span>
                </td>
                <td >
                    {% if excursion.status == 'ok' %}                        
                        <p class="text-center"><img src="{% static 'app/images/approve.png' %}" width="20" height="20"></p>                 
                    {% elif excursion.status == 'warn' %}                        
                        <p class="text-center"><img src="{% static 'app/images/unapprove.png' %}" width="20" height="20"></p>                       
                    {% else %}                       
                        <p class="text-center"><img src="{% static 'app/images/uau.png' %}" width="20" height="20"></p>                       
                    {% endif %}
                </td>
            </tr>
            {%endfor%}            

        </table>   
</div>

