{% load crispy_forms_tags %}
{% load staticfiles %}

<div id="TableFoodsID" class="table-responsive">
{% include 'tables/TableFoodsChild.html' %}
</div>

<!-- Modal for button AddFoodModal -->
<div class="modal fade" id="AddFoodModal" tabindex="-1" role="dialog" aria-labelledby="FoodLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="AddorEditFoodFormId" action="{% url 'createOrEditFood' 999999 %}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="FoodLabel">Добавить/редактировать заявку</h4>
                </div>
                <div class="modal-body form-group-sm">
                    {{formFood.media}}
                    {% crispy formFood %}
                </div>
                <img class="loadImg" src="{% static 'app/images/ajax-loader.gif' %}"/>
            </form>
        </div>
    </div>
</div>
<!-- Modal for button DelFoodModal -->
<div class="modal fade" id="DelFoodModal" tabindex="-1" role="dialog" aria-labelledby="FoodLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="delFoodFormId" class="form-horizontal" action="{% url 'deleteFood' 999999 %}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="DelModalLabel">Вы действительно хотите удалить заявку ?:</h4>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    <ul class="form-group">
                        <h4 id="DelFoodId"></h4>
                    </ul>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn" value="Удалить">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
                <img class="loadImg" src="{% static 'app/images/ajax-loader.gif' %}"/>
            </form>
        </div>
    </div>
</div>