{% load crispy_forms_tags %}
{% load staticfiles %}

<div id="TableTransfersID" class="table-responsive">
{% include 'tables/TableTransfersChild.html' %}
</div>

<!-- Modal for button AddTransferModal -->
<div class="modal fade" id="AddTransferModal" tabindex="-1" role="dialog" aria-labelledby="TransferLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="AddorEditTransferFormId" action="{% url 'createOrEditTransfer' 999999 %}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="TransferLabel">Добавить заявку</h4>
                    </div>
                    <div class="modal-body form-group-sm center-block">
                        {% crispy formTransfer %}
                    </div>
                    <img class="loadImg" src="{% static 'app/images/ajax-loader.gif' %}"/>
                </form>
            </div>
        </div>
    </div>
<!-- Modal for button DelTransferModal -->
<div class="modal fade" id="DelTransferModal" tabindex="-1" role="dialog" aria-labelledby="TransferLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="delTransferFormId" class="form-horizontal" action="{% url 'deleteTransfer' 999999 %}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="DelTransferModalLabel">Вы действительно хотите удалить заявку ?:</h4>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    <ul class="form-group">
                        <h4 id="DelTransferId"></h4>
                    </ul>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn" value="Удалить заявку">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
                <img class="loadImg" src="{% static 'app/images/ajax-loader.gif' %}"/>
            </form>
        </div>
    </div>
</div>