{#{% extends "app/layout.html" %}#}

{% block content %}

{% autoescape off %}
Вы получили это письмо, потому что Вы сделали запрос на сброс пароля на сайте {{ site_name }}.

Пожалуйста, пройдите по следующей ссылке и введите новый пароль:
{% block reset_link %}
{#{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}#}
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваш логин: {{ user.username }}


Команда разработчиков {{ site_name }} .

{% endautoescape %}

{% endblock %}