{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Пожалуйста, введит пароль давжды:<br />
           Чтобы проверить, что пароль введен корректно.</p>
        <form action="" method="post" class="form-horizontal">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Пароль не изменен</h1>
        <p>Ссылка на сброс пароля неверна, <br />
        возможно , потому что пароль уже использовался ранее. <br />
        Пожалуйста, пройдите процедуру сброса пароля занов.</p>
    {% endif %}
{% endblock %}