{% extends "app/layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Пожалуйста, введите e-mail адрес для получения инстркций для сброса пароля.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail адрес:</label> {{ form.email }} <input type="submit" value="Сбросить пароль" /></p>
</form>
{% endblock %}