{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<div id="reglament_id">
<div class="reglament-name">
    <h4 class="text-center">СКАЧАТЬ</h4>
</div>
<div class="reglament-body">
    Положение Международного конкурса-фестиваля хореографического искусства "Радуга-танца" 2016 г. <a href="{% static 'app/reglament_doc.doc' %}">СКАЧАТЬ</a>
</div>
<div class="reglament-name">
    <h4 class="text-center">ПОЛОЖЕНИЕ</h4>
</div>
<div class="reglament-body text-center">
   <h6 style="white-space: pre-wrap;" class="h6">ООО «Культурный центр праздников и представлений «Возрождение»
        Чувашский Республиканский Дом народного творчества
        Министерства культуры, по делам национальностей, информационной политики и архивного дела Чувашской Республики
        АУ «Республиканская дирекция культурных программ" Министерства культуры, по делам национальностей и архивного дела
        Чувашской Республики
    </h6>
    <img class="center-block" width="200" height="200" src="{% static 'app/images/logo_gotovo2.png' %}">
    <h4>ПОЛОЖЕНИЕ</h4>
    <h6 style="white-space: pre-wrap;">
        VI Международного конкурса–фестиваля хореографического искусства
        «Радуга-танца - 2016»
    </h6>
    <h4>УЧРЕДИТЕЛИ КОНКУРСА-ФЕСТИВАЛЯ</h4>
    <h6 style="white-space: pre-wrap;">
        ООО «Культурный центр праздников и представлений «Возрождение», Чувашская Республика, г.
        Чебоксары  
    </h6>   
</div>
<div class="reglament-name">
    <h4 class="text-center">1. ЦЕЛИ И ЗАДАЧИ</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>1. Развитие хореографического движения, распространение достижений творческих коллективов России, Республики Чувашия,
        сохранение традиций национальной культуры;</li>
        <li>2. Повышение уровня репертуара коллективов и исполнительского мастерства участников;</li>
        <li>3. Укрепление профессиональных и культурных связей между творческими коллективами и руководителями;</li>
        <li>4. Развитие творческого потенциала и повышение уровня профессионального мастерства педагогов
             и руководителей коллективов.</li>    
    </ul>
</div>

<div class="reglament-name">
    <h4 class="text-center">2. СИСТЕМА ОРГАНИЗАЦИИ КОНКУРСНОЙ ПРОГРАММЫ</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>1. Сроки и место проведения:</li>
    </ul>
    <p>Конкурс–фестиваль хореографического искусства «Радуга-танца - 2016» проводится с 1 мая по 3
    мая 2016 г., Чувашская Республика, г. Чебоксары</p>
</div>
{# 3  ------------------------------------------------#}     
<div class="reglament-name">
    <h4 class="text-center">3. ОБНОВЛЕНИЯ НА 2016 г.</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>1. Увеличение суммы ГРАН-ПРИ в категории «Радуга-танца KIDS» с 25 000 р. до 50 000 р.</li>
        <li>2. В основном конкурсе «Радуга-танца» ГРАН-ПРИ составляет 50 000 р.;</li>
        <li>3. Разработан специальный личный кабинет для участников фестиваля. Возможности:
            <ul>
                <li>А) Добавление и редактирование всех конкурсных заявок и другой информации</li>
                <li>Б) Автоматизация подсчета оргвзноса</li>
                <li>В) Добавление личных данных участника (без предъявления их при регистрации на конкурсе)</li>
                <li>Г) Самостоятельное создание путевого листа для вашего коллектива</li>
                <li>Д) Автоматическая рассылка новостей конкурса и другое</li>
            </ul>
        </li>
        <li>4. С этого года, в основной категории «Радуга-танца» для участия в одной из номинаций коллективу
                необходимо предоставить одну хореографическую композицию;
        </li>
        <li>5.Добавление возрастной категории «Смешанная» во всех номинациях;
        </li>
        <li>6. Организация бесплатного трансфера для иногородних участников (встреча, проводы, проезд с места
            проведения до места проживания) согласно составленному путевому листу в личном кабинете
            коллектива;
        </li>
        <li>7. Бесплатная организация мастер-класса для руководителей коллективов;
        </li>
        <li>8. На территории фестиваля будет организован дежурный транспорт, при необходимости во время всего
            конкурсного дня, коллектив может осуществить поездку в любую точку города за счет личных средств.
        </li>
    </ul>
</div>
{# 4  ------------------------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">4. ПРАВИЛА КОНКУРСА-ФЕСТИВАЛЯ «РАДУГА-ТАНЦА»</h4>
</div>
<div class="reglament-body">
    <p>
        Уважаемые руководители коллективов! Для организации и проведения конкурса на высоком
        профессиональном уровне, просим Вас ознакомиться с обязательными правилами нашего конкурса, и
        соблюдать все нижеперечисленные пункты. Несоблюдение правил может повлечь за собой причину
        для дисквалификации коллектива с конкурса
    </p>
    <ul>
        <li>1. Срок подачи заявок на участие в фестивале-конкурсе до 17 апреля 2016 года.</li>
        <li>2. 18 апреля 00ч. 00м. 2016 г. подача заявок блокируется, но коллективам уже подавшим заявки
            предоставляется возможность редактирования информации до 24 апреля 00 ч. 00м.
        </li>
        <li>3. Последовательность номеров программы строгая, без возможности произвольной перестановки.</li>
        <li>4. Последовательность конкурсных выступлений формируется произвольно при помощи программного
            обеспечения.
        </li>
        <li>5. Вся необходимая информация для коллективов (порядок конкурсных выступлений, памятка и другие
            документы) будет выслана 28 апреля 2016 г. на электронные адреса
        </li>
        <li>6. Общий хронометраж и количество номеров не должны превышать указанные в положении
        </li>
        <li>7. Создание, редактирование заявок для участия на фестивале осуществляется в личном кабинете на
            официальном сайте фестиваля. Создать личный кабинет коллектива можно на сайте
            <a href=http://radugafest.com>http://radugafest.com</a>
        </li>
        <li>8. Оргкомитет оставляет за собой право не рассматривать заявки в случае значительного превышения
            общего хронометража по условиям проведения конкурса на сценической площадке
            фестивальных мероприятий
        </li>
        <li>9. Процесс подачи заявок является автоматическим, все созданные заявки не подвергаются
            редактированию со стороны оргкомитета.
        </li>
        <li>10. Награждение лауреатов и дипломантов происходит на гала-концерте.
        </li>
        <li>11. Награждение дипломом участника осуществляется после конкурсного выступления на сценической
            площадке (награждаются все коллективы участники конкурса «Радуга-танца»).</li>
        <li>12. До финала Гала-концерта результаты конкурса не оглашаются, и дипломы не выдаются.
        </li>
        <li>13. Обязательно присутствие представителей творческого коллектива на конкурсе. Дипломы по почте не
            отправляются. В случае, если коллектив (или его представители) не присутствует на Гала-концерте
            дублируется электронный вариант.
        </li>
        <li>14. Репетиции на сценической площадке проходят исключительно в отведенное время (после прохождения
            регистрации).
            В предусмотренных оргкомитетом перерывах на сцене и в зрительном зале проходит уборка (мокрый
            пол). Репетиции запрещены
        </li>
        <li>15. Перед тем как коллектив пройдет за кулисы, непосредственно перед конкурсным выступлением, будет
            произведен обязательный пересчет-сверка участников (по информации из заявки).
        </li>
        <li>16. Во избежание непредвиденных обстоятельств фонограмма коллектив должен иметь при себе копию
                фонограммы (на отдельном носителе в виде флеш-накопителя либо другом запоминающем
            твердотельном устройстве) Информация, сохраненная на устройствах в виде дисковых накопителей
            (CD, DVD прочее) не принимаются.
        </li>
        <li>17. Фото и видео материалы Гала-концерта будут предоставлены бесплатно и выложены на официальном
            сайте конкурса в разделе галерея.
        </li>
        <li>18. Видео и фотосъемка во все конкурсные дни, включая Гала-концерт, разрешена на всей территории
            фестиваля.
        </li>
        <li>19. В дни конкурсных выступления вход в зрительный зал свободный для всех желающих.</li>
    </ul>
</div>

{# 5  ------------------------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">5. КОНКУРС «РАДУГА-ТАНЦА KIDS»</h4>
</div>
<div class="reglament-body">
    <h5 class="text-center">
            Дата проведения 1 мая 2016 г
    </h5>
    <ins>Возраст участников:</ins>
    <br>
    Участники конкурсной программы делятся на возрастные группы:
    <ul>
        <li>А) Младшая – до 7 лет,</li>
        <li>Б) Средняя – от 8 до 10 лет,</li>
        <li>В) Смешанная</li>
    </ul>

    <ins>Номинации:</ins>
    <ul>
        <li>1. Эстрадный танец</li>
        <li>2. Народный танец, народный стилизованный танец
        </li>
        <li>3. Сюжетно-игровой танец (участвуют композиции на основе любых танцевальных дисциплин,
            приветствуется театрализация, оригинальность костюмов, использование реквизита, нестандартное
            режиссёрское решение номера)
        </li>
    </ul>

    <h5 class="text-center"><strong >НАГРАЖДЕНИЕ УЧАСТНИКОВ И ПОБЕДИТЕЛЕЙ «РАДУГА-ТАНЦА KIDS»</strong></h5>
    <br>
    <ul>
        <li>1. Награждение победителей проводится по номинациям с вручением дипломов:
            <ul>
                <li> ГРАН-ПРИ, </li>
                <li> ЛАУРЕАТ I, II, III степени, </li>
                <li> ДИПЛОМАНТ I, II, III степени, </li>
                <li> ДИПЛОМ участника </li>
            </ul>
        </li>
        <li>2. Введение материального вознаграждения в категории «Радуга танца KIDS» - ГРАН-ПРИ 50 000
            рублей
        </li>
        <li>3. Лауреаты в каждой номинации награждаются кубками, дипломами и специальными призами.
        </li>
        <li>4. Спонсоры и партнёры конкурса-фестиваля имеют возможность выделить и наградить
            понравившийся коллектив ценными призами
        </li>
        <li>5. Благодарностью награждается каждый руководитель коллектива</li>
        <li>6. Дипломами участника конкурса награждаются все коллективы</li>
    </ul>

    <h5 class="text-center"><strong >ОРГВЗНОС ЗА УЧАСТИЕ «РАДУГА-ТАНЦА KIDS»</strong></h5>
    <ul>
        <li>1. Коллектив в одной возрастной группе имеет право дополнительно подать заявку во всех
            действующих номинациях.
        </li>
        <li>2. Для участия в конкурсе-фестивале в основной номинации с представлением одной
            хореографической композиции, оргвзнос составляет 500 рублей с участника. При участии в двух или
            более номинациях, сумма оргвзноса за каждую последующую номинацию будет составлять 400 р.
        </li>
        <li>3. Для малой формы (дуэт, трио) организационный взнос составляет 1400 р. При участии в двух или
            более номинациях, сумма оргвзноса за каждую последующую номинацию будет составлять 1200 р.
        </li>
        <li>4. Для солистов организационный взнос составляет 800 р. При участии в двух или более номинациях,
            сумма оргвзноса за каждую последующую номинацию будет составлять 700 р
        </li>
    </ul>

    <h5 class="text-center"><strong >УСЛОВИЯ УЧАСТИЯ «РАДУГА-ТАНЦА KIDS»</strong></h5>
    <ul>
        <li>1. Для участия в одной из номинаций коллективу необходимо предоставить одну хореографическую
        композицию. Продолжительность номера не более 4 минут.</li>
        <li>2. Коллектив имеет возможность участвовать во всех действующих номинациях.</li>
        <li>3. В конкурсных номинациях могут участвовать солисты, малая форма (дуэт, трио), ансамбли.</li>
    </ul>
</div>

{# 666666 ------------------------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">6. КОНКУРС «РАДУГА-ТАНЦА»</h4>
</div>
<div class="reglament-body">
    <h5 class="text-center">
            Дата проведения 2 мая 2016 г
    </h5>
    <ins>Возраст участников:</ins>
    <br>
    Участники конкурсной программы делятся на возрастные группы:
    <ul>
        <li>Средняя – от 11 до 14 лет</li>
        <li>Старшая – от 15 до 18 лет</li>
        <li>Профи – от 19 до 25</li>
        <li>Смешанная</li>
    </ul>
    Возрастная группа коллектива определяется по среднему возрасту участников
    <br>
    <ins>Номинации:</ins>
    <ul>
        <li>1. Эстрадный танец</li>
        <li>2. Народный танец</li>
        <li>3. Народный стилизованный танец</li>
        <li>4. Современный танец (модерн, свободная пластика, contemporary dance)</li>
        <li>5. Современный танец (hip-hop, house, r’n’b, locking, krumping и др.)</li>
    </ul>

    <h5 class="text-center"><strong >НАГРАЖДЕНИЕ УЧАСТНИКОВ И ПОБЕДИТЕЛЕЙ «РАДУГА-ТАНЦА»</strong></h5>
    <br>
    <ul>
        <li>1. Награждение победителей проводится по номинациям с вручением дипломов:
            <ul>
                <li> ГРАН-ПРИ, </li>
                <li> ЛАУРЕАТ I, II, III степени, </li>
                <li> ДИПЛОМАНТ I, II, III степени, </li>
                <li> ДИПЛОМ участника </li>
            </ul>
        </li>
        <li>2. Введение материального вознаграждения в категории «Радуга танца» - ГРАН-ПРИ 50 000
            рублей
        </li>
        <li>3. Лауреаты в каждой номинации награждаются кубками, дипломами и специальными призами.
        </li>
        <li>4. Спонсоры и партнёры конкурса-фестиваля имеют возможность выделить и наградить
            понравившийся коллектив ценными призами
        </li>
        <li>5. Благодарностью награждается каждый руководитель коллектива</li>
        <li>6. Дипломами участника конкурса награждаются все коллективы</li>
    </ul>

    <h5 class="text-center"><strong >ОРГВЗНОС ЗА УЧАСТИЕ «РАДУГА-ТАНЦА»</strong></h5>
    <ul>
        <li>1. Коллектив в одной возрастной группе имеет право дополнительно подать заявку во всех
            действующих номинациях.
        </li>
        <li>2. Для участия в конкурсе-фестивале в основной номинации с представлением одной
            хореографической композиции, оргвзнос составляет 500 рублей с участника. При участии в двух или
            более номинациях, сумма оргвзноса за каждую последующую номинацию будет составлять 400 р
        </li>
        <li>3. Для малой формы (дуэт, трио) организационный взнос составляет 1500 р. При участии в двух или
            более номинациях, сумма оргвзноса за каждую последующую номинацию будет составлять 1200 р
        </li>
        <li>4. Для солистов организационный взнос составляет 800 р. При участии в двух или более номинациях,
            сумма оргвзноса за каждую последующую номинацию будет составлять 700 р.
        </li>
    </ul>

    <h5 class="text-center"><strong >УСЛОВИЯ УЧАСТИЯ «РАДУГА-ТАНЦА»</strong></h5>
    <ul>
        <li>1. Коллектив должен представить обязательную конкурсную программу, состоящую из одной
            композиции в одной номинации, продолжительность одного номера не более 4 минут.</li>
        <li>2. Коллектив в одной возрастной группе имеет право подать заявку на участие во всех действующих
            номинациях.</li>
        <li>3. В конкурсных номинациях могут участвовать солисты, малая форма (дуэт, трио), ансамбли.</li>
    </ul>
</div>

{# 7777 -------------спец номинация-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">7. СПЕЦИАЛЬНАЯ НОМИНАЦИЯ «ВЕЛИКОЙ ПОБЕДЕ ПОСВЯЩАЕТСЯ»</h4>
</div>
<div class="reglament-body">
    <ins>Возраст участников:</ins>
    <br>
    Участники конкурсной программы делятся на возрастные группы:
    <ul>
        <li>Младшая – до 10 лет</li>
        <li>Средняя – от 11 до 14 лет</li>
        <li>Старшая – от 15 до 18 лет</li>
        <li>Профи – от 19 до 25</li>
        <li>Смешанная</li>
    </ul>
    Условия:
    <ul>
        <li>Для участия в специальной номинации от коллектива представляется одна танцевальная
            композиция.</li>
        <li>Коллектив должен представить обязательную конкурсную программу, состоящую из 1-ой
            композиции, продолжительностью не более 5 минут</li>
        <li>Награждение победителей проводится по номинациям с вручением дипломов:
            <ul>
                <li> ЛАУРЕАТ I, II, III степени, </li>
                <li> ДИПЛОМАНТ I, II, III степени, </li>
                <li> ДИПЛОМ участника </li>
            </ul>
        </li>    
    </ul>
    <h5 class="text-center"><strong >ОРГВЗНОС ЗА УЧАСТИЕ В СПЕЦИАЛЬНОЙ НОМИНАЦИИ</strong></h5>
    <ul>
        <li>Солисты – 1000 р.</li>
        <li>Ансамбли – 2000 р.</li>
        <li>Малая форма (дуэт, трио) - 1500 р.</li>
    </ul>
</div>

{# 8 -------------ПРОЖИВАНИЕ И ТРАНСФЕР-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">8. ПРОЖИВАНИЕ И ТРАНСФЕР</h4>
</div>
<div class="reglament-body">
    1. Подать заявку на проживание, а также узнать информацию о возможных вариантах проживания, вы
    сможете в личном кабинете. Для этого необходимо зарегистрироваться на официальном сайте фестиваля
    http://radugafest.com
    <h5 class="text-center">
            Дата открытия личного кабинета 1 марта 2016 г.
    </h5>
    <ul>
        <li>1. Для иногородних участников будет организован бесплатный трансфер (встреча, проводы, проезд с
            места проведения до места проживания);</li>
        <li>2. Ответственным за организацию трансферов в период проведения конкурса-фестиваля «Радуга-
        танца» является оргкомитет фестиваля, в услуги будет входить:
            <ul>
                <li>Встреча/проводы иногородних участников;</li>
                <li>Трансфер к месту проведения конкурса-фестиваля и обратно в период проведения конкурса, 1 рейс в
                    день;</li>
            </ul>
        </li>
        <li>3. На территории фестиваля будет организован дежурный транспорт, при необходимости во время
            всего конкурсного дня коллектив может осуществить поездку в любую точку города за счет личных
            средств.</li>
    </ul>
</div>

{# 9 -------------ЖЮРИ-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">9. ЖЮРИ</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>
            1. Распределение призовых мест в конкурсной программе производится на основании протокола жюри и
            количества набранных баллов по конкурсной программе.
        </li>
        <li>2. Расчёт баллов проводится на основании рекомендуемых критериев с выставлением максимально 10
            (десяти) баллов каждым членом жюри.</li>
        <li>3. Жюри имеет право не присуждать призовое место, присуждать два призовых места, назначать
            дополнительные поощрительные призы.</li>
        <li>4. Решение жюри на всех этапах конкурса является окончательным и обжалованию не подлежит</li>
    </ul>
</div>

{# 10 -------------КРИТЕРИИ ОЦЕНКИ КОНКУРСНЫХ ВЫСТУПЛЕНИЙ-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">10. КРИТЕРИИ ОЦЕНКИ КОНКУРСНЫХ ВЫСТУПЛЕНИЙ</h4>
</div>
<div class="reglament-body">
    Жюри оценивает выступления участников по 10-бальной системе по следующим критериям:
    <ul>
        <li>Постановка</li>
        <li>Техника исполнения</li>
        <li>Артистизм исполнителей</li>
        <li>Разнохарактерное исполнение номеров</li>
        <li>Оригинальность и новизна</li>
        <li>Музыкальное оформление</li>
        <li>Костюмы</li>
        <li>Соответствие репертуара возрасту участников</li>
        <li>Выполнение регламента конкурса</li>
    </ul>
</div>

{# 11 -------------КРИТЕРИИ ОЦЕНКИ КОНКУРСНЫХ ВЫСТУПЛЕНИЙ-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">11. СПОСОБЫ ОПЛАТЫ ОРГАНИЗАЦИОННОГО ВЗНОСА</h4>
</div>
<div class="reglament-body">
    Оргвзнос можно оплатить при регистрации участников фестиваля в день проведения конкурса-
    фестиваля. Коллективы, не оплатившие взнос, к участию в конкурсе не допускаются.
    <br>Коллектив может оплатить оргвзнос за участие в день своего конкурсного выступления.
    <br>А также взнос за участие можно оплатить платёжным поручением по следующим реквизитам, на
    счёт дирекции ООО «КЦПиП «Возрождение».
    <br>Оплата путем перечисления производится не позднее 2-х недель до начала конкурсных
    выступлений.
    <br>Реквизиты: Общество с ограниченной ответственностью «Культурный центр праздников и
    представлений «Возрождение» ОГРН 1102130013732 ИНН 2130081526 КПП 212401001, р/c
    40702810600000014142, АКБ «Чувашкредитпромбанк» ОАО, юр.адрес: 429955, г.Новочебоксакрск, ул.
    Ягодная д.18, тел. 38-90-16, e-mail: vozrogdenie_prazdnik@mail.ru
    <br>В назначении платежа указать следующее: Оплата орг. Взноса за участие в конкурсе-фестивале
    «Радуга-танца - 2016» (ФИО, адрес, паспортные данные, название коллектива), без НДС
    
</div>

{# 12 -------------ФИНАНСИРОВАНИЕ КОНКУРСА-ФЕСТИВАЛЯ-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">12. ФИНАНСИРОВАНИЕ КОНКУРСА-ФЕСТИВАЛЯ</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>1. Затраты по организации, проведению и награждению несут Организаторы и Учредители фестиваля-
            конкурса</li>
        <li>2. Расходы, связанные с проездом, проживанием и питанием иногородних участников в день
            проведения фестиваля-конкурса несет направляющее учреждение.</li>
    </ul>
</div>
{# 13 -------------ПОРЯДОК ПОДАЧИ ЗАЯВКИ НА УЧАСТИЕ-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">13. ПОРЯДОК ПОДАЧИ ЗАЯВКИ НА УЧАСТИЕ</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>1. Срок подачи заявок на участие в фестивале-конкурсе до 17 апреля 2016 года.</li>
        <li>2. Внимание! 18 апреля 00ч. 00м. 2016 г. подача заявок блокируется, но коллективам уже подавшим
            заявки предоставляется возможность редактирования информации до 24 апреля 00 ч. 00м.</li>
        <li>3. Создание, редактирование заявок для участия на фестивале осуществляется в личном кабинете на
            официальном сайте фестиваля. Создать личный кабинет коллектива можно на сайте
            http://radugafest.com</li>
    </ul>
    <h5 class="text-center">
        Дата открытия личного кабинета 1 марта 2016 г.
    </h5>
</div>

{# 14 -------------КОНТАКТНАЯ ИНФОРМАЦИЯ-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">14. КОНТАКТНАЯ ИНФОРМАЦИЯ</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>сайт: <a href="http://radugafest.com">http://radugafest.com</a></li>
        <li>e-mail: dance@radugafest.com: <a href="http://dance@radugafest.com">dance@radugafest.com</a></li>
        <li>Телефоны для связи: 8-999-199-39-23 - Оргкомитет            
        </li>
        
    </ul>
    Софронов Алексей Юрьевич (директор фестиваля)
    <br />
    Ланская Елена Олеговна (учредитель фестиваля)
</div>

{# 15 -------------ПРЕДВАРИТЕЛЬНАЯ ПРОГРАММА КОНКУРСА-ФЕСТИВАЛЯ-----------------------------------#}
<div class="reglament-name">
    <h4 class="text-center">15. ПРЕДВАРИТЕЛЬНАЯ ПРОГРАММА КОНКУРСА-ФЕСТИВАЛЯ</h4>
</div>
<div class="reglament-body">
    <ul>
        <li>30 апреля – заезд и размещение иногородних участников</li>
        <li>1 мая – Торжественное открытие. Конкурсный день «Радуга-танца KIDS». Награждение
            победителей.</li>
        <li>2 мая – Конкурсный день «Радуга-танца» (номинации: эстрадный танец, народный танец, народный
        стилизованный танец, современный танец, мастер-класс)           
        </li>
        <li>3 мая – Гала-концерт. Награждение</li>        
    </ul>    
</div>


<br />
</div>

{% endblock %}
